{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{% macro primaryNavigation(currentUrl, activeCaseLoadId, staffId, userIsSpo, userIsPom) %}
  {% set items = [
    {
      text: "POM cases",
      href: paths.pomCases.dashboard | toPath({ prisonCode: activeCaseLoadId }),
      active: isActiveHeaderSection(currentUrl, paths.pomCases),
      shown: userIsSpo or userIsPom
    },
    {
      text: "Allocations",
      href: paths.allocations.unallocated | toLegacyUrl({ prisonCode: activeCaseLoadId }),
      active: false,
      shown: userIsSpo
    },
    {
      text: "Caseload",
      href: paths.staff.caseload | toLegacyUrl({ prisonCode: activeCaseLoadId, staffId: staffId }),
      active: false,
      shown: userIsPom
    },
    {
      text: "Parole",
      href: paths.parole.cases | toPath({ prisonCode: activeCaseLoadId }),
      active: isActiveHeaderSection(currentUrl, paths.parole),
      shown: userIsSpo
    },
    {
      text: "Handover",
      href: paths.handover.upcoming | toLegacyUrl({ prisonCode: activeCaseLoadId }),
      active: false,
      shown: userIsSpo or userIsPom
    },
    {
      text: "Staff",
      href: paths.staff.poms | toLegacyUrl({ prisonCode: activeCaseLoadId }),
      active: false,
      shown: userIsSpo
    }
  ] %}

  {{ mojPrimaryNavigation({
    label: "Primary navigation",
    items: items | selectattr("shown")
  }) }}
{% endmacro %}
