{% macro offenderFullName(obj) %}
  {{ (obj.lastName + ", " + obj.firstName) | convertToTitleCase }}
{% endmacro %}

{% macro pomFullName(obj) %}
  {{ (obj.pomFirstName + " " + obj.pomLastName) | convertToTitleCase }}
{% endmacro %}
