{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - POM caseload dashboard" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">POM cases</h1>

{% endblock %}
